{% extends 'base.html' %}
{% load static %}

{% block title %}تفاصيل الجهاز رقم {% endblock %}


{% block body %}
<div dir="rtl" style="margin-bottom: 50px;">
    <h3><strong>الرقم التسلسلى: </strong><span id="device-detail-serial">{{ serial_number }}</span></h3>
    <h3><strong>اسم الشركة: </strong><span id="device-detail-company">{{ company_name }}</span></h3>
    <h3><strong>النوع: </strong><span id="device-detail-type">{{ device_type }}</span></h3>
</div>

<table id="device-detail-table" class="table table-bordered" dir="rtl">
    
    <thead style="text-align:center">
        <tr>
            <th>تاريخ الدخول</th>
            <th>مسئول الصيانة</th>
            <th>مظاهر العيب</th>
            <th>ما تم تغييره</th>
            <th>ملاحظات</th>
            <th>فاتورة الاستلام</th>
            <th>فاتورة التسليم</th>
        </tr>
    </thead>
    
    <tbody>
    {% for device in devices %}
    <tr>
        <td data-field-name="entrance_date">{{ device.entrance_date }}</td>
        <td data-field-name="assignee">{{ device.assignee }}</td>
        <td data-field-name="flaws">{{ device.flaws }}</td>
        <td data-field-name="sparepart_name">
        
        {% for sparepart in device.spareparts %}
            <p>الاسم: {{ sparepart.name }} الكمية: {{ sparepart.count }}</p>
        {% endfor %}
        
        </td>
        
        <td data-field-name="notes" style="overflow-wrap: break-word; max-width: 180px">{{ device.notes }}</td>
        <td data-field-name="reception_receipt_id"><a href="{% url 'receipts:reception_receipt_detail' device.reception_receipt_id %}">{{ device.reception_receipt_id }}</a></td>
        <td data-field-name="delivery_receipt_id"><a href="{% url 'receipts:delivery_receipt_detail' device.delivery_receipt_id|default:'0' %}">{{ device.delivery_receipt_id }}</a></td>
     </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js %}

    <script type="text/javascript">
        
        $('title').text($('title').text() + "{{ serial_number }}");
        
    </script>
{% endblock %}
