{% extends 'base.html' %}
{% load static %}

{% block title %}مخزن قطع الغيار{% endblock %}

{% block js %}
    <script src="{% static 'devices/js/sparepart-inventory-list.js' %}"></script>
{% endblock %}

{% block body %}
<table id="sparepart-inventory-table" class="table table-bordered" dir="rtl" data-item-type='sparepart'>
    
    <thead style="text-align:center">
        <tr>
            <th></th>
            <th>م</th>
            <th class="sortable" data-criteria="type"><span class='sort-carat'>&#9660;</span>النوع</th>
            <th>الكمية</th>
            <th>الحد الأدنى</th>
            <th>التفاصيل</th>
        </tr>
    </thead>
    
    <tbody>
        {% for sparepart in spareparts %}
        <tr data-pk="{{ sparepart.pk }}" name='{{ sparepart.name }}'>
            <td></td>
            <td>{{ forloop.counter }}</td>
            <td data-input-type="text" data-field-name="name">{{ sparepart.name }}</td>
            <td class="{{ sparepart.count_lt_min_class }}" data-input-type="number" data-field-name="count">{{ sparepart.count }}</td>
            <td data-input-type="number" data-field-name="minimum_qty">{{ sparepart.minimum_qty }}</td>
            <td><a href="{{ sparepart.pk }}/">ذهاب</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
