<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ayulla Limited | Login</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/iziToast.min.css">
        <link rel="stylesheet" href="../css/login.css">
    </head>
    
    <body class="text-center">
        <form class="form-signin">
            <img class="mb-4" src="../images/MAS.png" style="width: 100%">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            <label for="username" class="sr-only">Username</label>
            <input name="Username" type="text" id="username" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input name="Password" type="password" id="password" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me" id="remember-me"> Remember me
                </label>
            </div>
            <button id="signin-btn" class="btn btn-lg btn-primary btn-block">Sign in</button>
        </form>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../js/iziToast.min.js"></script>
        <script src="../js/login.js"></script>
    </body>
    
</html>